# Miscellaneous
*.class
*.log
*.lock
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (optional - uncomment if needed)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.pub-preload-cache/
build/
coverage/
flutter_*.png

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android
/android/app/debug
/android/app/profile
/android/app/release
.gradle/
**/android/**/gradle-wrapper.jar
**/android/local.properties
*.jks

# iOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.pbxuser
**/ios/**/Pods/
**/ios/**/DerivedData/
**/ios/Flutter/.last_build_id

# macOS
**/macos/Flutter/ephemeral
**/Pods/

# Windows
**/windows/flutter/generated_plugin_registrant.*

# Linux
**/linux/flutter/generated_plugin_registrant.*

# Coverage
coverage/